<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>My webpage</title>
</head>
<body>
    <header>
        <h1>My website</h1>
    </header>
    <a href="index.html">Go to</a>
    <section>
        <article>
            <h3>Blog Post One</h3>
            <small>Posted by me</small>
            <p>The latest example is this weekend’s Super Snow Moon, which will rise on February 8.
                It may or may not be an actual supermoon, depending on who you ask (more on that later), but its name and disputed status don’t necessarily mean it will be particularly worth your gaze.
            </p>
        </article>
    </section>
</body>
</html>
